
header{
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden; /*delete this line and see what happens*/
    position: relative;/*delete this line and see what happens*/
}

header:before{
    animation: fade-slide-down 2s .5s cubic-bezier(0,0.5,0,1) forwards;
    background: linear-gradient(to bottom, rgba(255,200,250,0) ,rgba(0,0,0,.0)), url("img/lee-blanchflower-wvjlLSgPNGk-unsplash.jpg") no-repeat bottom;
    background-size: cover;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

section{
    z-index: 1;
    color: black;
}

header:after{
    background-color: white;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 90%;
    transform: rotateZ(-4deg);
    transform-origin: 0 0;
}

h1{
    text-align: center;
}

ul{
    margin: 0px;
}

li{
    display: none;
    flex-wrap: wrap;
    padding: 0;
}

li ul {
   padding: 0 15px;
   font-size: 3rem;
   font-family: 'Lato', sans-serif;
}

.header-title {
    padding: 0 15px;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
 }

li ul:nth-child(5){
    padding-bottom: 5px;
}

/* .colon{
    animation: linear 1s blinking infinite;
} */

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes blinking{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:600px){
    li ul{
        font-size: 1.5rem;
        padding: 0 7.5px;
    }

    .header-title {
        font-size: 1.5rem;
        padding: 0 7.5px;
        font-family: 'Lato', sans-serif;
        
     }
}